.button {
  background-color: #fff;
  border: 2px solid #db1c48;
  border-radius: 15px;
  height: 27px;
  width: 70px;
  color: #db1c48;
  font-family: Roboto;
}
.active {
  background-color: #db1c48;
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  border: none;
  border-radius: 15px;
  height: 27px;
  width: 70px;
}

